* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.link-button {
  padding: 5px 10px;
  background-color: #859b9b;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
}
